# Environment variables & secrets
.env
*.env
!.env.example
!example.env

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Testing & Virtual Environments
.pytest_cache/
.venv/
venv/
ENV/
env/

# IDE & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
